<h2 mat-dialog-title>{{ editingMode ? "Update" : "Enter" }} Todo Details</h2>
<mat-dialog-content class="todo-create">
  <form
    [formGroup]="todoForm"
    class="todo-form"
    (keydown.enter)="$event.preventDefault()"
  >
    <mat-form-field class="todo-input" appearance="outline">
      <mat-label>Todo title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="low"> Low </mat-option>
        <mat-option value="medium"> Medium </mat-option>
        <mat-option value="high"> High </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Todo Expires in</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        placeholder="Choose a date & time"
        formControlName="dateTime"
      />

      <mat-datepicker-toggle
        matSuffix
        [for]="$any(picker)"
      ></mat-datepicker-toggle>

      <ngx-mat-datetime-picker
        [enableMeridian]="true"
        #picker
      ></ngx-mat-datetime-picker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>

  <button
    (click)="onClick()"
    mat-dialog-close
    mat-raised-button
    color="primary"
    cdkFocusInitial
  >
    <mat-icon class="mat-18">add</mat-icon>
    {{ editingMode ? "Update" : "Create" }}
  </button>
</mat-dialog-actions>
